
<ion-content padding>
  <br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password" name="contraseña"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-button (click)="onSubmitLogin()" expand="block">ENTRAR</ion-button>
  <br>
  <center>
    <p text-center routerLink="/registro">NO TIENES CUENTA</p>
</center>

</ion-content>
