<ion-content >
  <br><br><br><br><br>
  <br><br><br><br><br>
  <center>
    <font FACE="impact" SIZE=7 COLOR="black">BIENVENIDO</font><br><br>
    <font size=5 color= "blue"
        >Una buena planificación en tus finanzas, marcara un gran cambio en tu futuro.
    </font><br><br><br>

    <div >
      <p text-center routerLink="/login">ENTRAR</p>
      <p text-center routerLink="/registro">CREAR CUENTA</p>
    </div>

    <br><br>
    <font FACE="impact" SIZE=4 COLOR="black">or</font>
    <br><br>

    <div class="social-btns" >
      <ion-button fill="clear" class="loginbtn ion-no-padding"> 
        <ion-img src="assets/facebook.png"></ion-img>
      </ion-button>
      <ion-button fill="clear" class="loginbtn ion-no-padding"> 
        <ion-img src="assets/google.png"></ion-img>
      </ion-button>
    </div>
    
  </center> 


</ion-content>
